/* iphone 6, 6s, 7, 8 */
    @media only screen and (min-width: 375px) and (max-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    body{
        width: 375px;
    }

    #content{
        width: 375px;
    }
    #categories{
        width: 375px;
    }
    #header{
        width: 375px;
    }
    #bottom{
        width: 375px;
    }
    #form-container{
        width: 375px
    }
}

    /* iphone 6+, 6s+, 7+, 8+ */
    @media only screen and (min-width: 414px) and (max-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    body{
        width: 414px;
    }

    #content{
        width: 414px;
    }
    #categories{
        width: 414px;
    }
    #header{
        width: 414px;
    }
    #bottom{
        width: 414px;
    }
    #form-container{
        width: 414px;
    }
}

    /* iphone X */
    @media only screen and (min-width: 375px) and (max-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    body{
        width: 375px;
    }

    #content{
        width: 375px;
    }
    #categories{
        width: 375px;
    }
    #header{
        width: 375px;
    }
    #bottom{
        width: 375px;
    }
    #form-container{
        width: 375px;
    }
}

    /* iphone XR */
    @media only screen and (min-width : 414px) and (max-height : 896px) and (-webkit-device-pixel-ratio : 2) {
    body{
        width: 414px;
    }

    #content{
        width: 414px;
    }
    #categories{
        width: 414px;
    }
    #header{
        width: 414px;
    }
    #bottom{
        width: 414px;
    }
    #form-container{
        width: 414px;
    }
}

   /* iphone XS */
    @media only screen and (min-width : 375px) and (max-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    body{
        width: 375px;
    }

    #content{
        width: 375px;
    }
    #categories{
        width: 375px;
    }
    #header{
        width: 375px;
    }
    #bottom{
        width: 375px;
    }
    #form-container{
        width: 375px;
    }
}

   /* iphone XS Max */
    @media only screen and (min-width : 414px) and (max-height : 896px) and (-webkit-device-pixel-ratio : 3) {
    body{
        width: 414px;
    }

    #content{
        width: 414px;
    }
    #categories{
        width: 414px;
    }
    #header{
        width: 414px;
    }
    #bottom{
        width: 414px;
    }
    #form-container{
        width: 414px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        width: 992px
    }

    #content{
        width: 992px;
    }
    #categories{
        width: 992px;
    }
    #header{
        width: 992px;
    }
    #bottom{
        width: 992px;
    }
    #form-container{
        width: 992px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        width: 1200px;
    }

    #content{
        width: 1200px;
    }
    #categories{
        width: 1200px;
    }
    #header{
        width:1200px;
    }
    #bottom{
        width: 1200px;
    }
    #form-container{
        width: 1200px;
    }
}











#header{
    display: flex;
    flex-direction: column;

}
#backBtn{
    width:32px;
    height:32px;
}

#backBtn:hover{
    cursor: pointer;
}

#logo{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

}
#shoppingCart{
    display:flex;
}


#logo:hover{
    width: 150px;
    Height: 150px;
    cursor: pointer;
}

#title{
    text-align: center;
}

#categories{
    display: flex;
    justify-content: space-around;
}

#name{
     margin-left:32.8%;
}


#quantity{
    margin-left: 16%;
}
#price{
    margin-left:12%;
}

#bottom{
    display: flex;
}

#blank{
    margin-left: 270px;
}

#totalQuantity{
    display: flex;
    margin-left:57%;
}

#totalPrice{
    display:flex;
    margin-left: 17%;
}

.price{
    height: 20px;
    text-align: center;
}

#content{
    height: 650px;
    overflow-y: auto;
    border: 5px ridge grey;
}

#nameCategory{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#quantityCategory{
    display: flex;
    flex-direction: column;
    width: 25%;
}

#priceCategory{
    display: flex;
    flex-direction: column;
    width: 25%;
}

input{
    width: 20px;
}

#whitespace1{
    width: 50%;
}

#whiteSpace2{
    width: 25%;
}

#actuallContent{
    width:25%;
}

#delete1{
    width:25%;
    height:8%;
}

#numOfQuan{
    margin-top: 29px;
    margin-left: 15px;
}

#numOfTotal{
     margin-top: 29px;
    margin-left: 11%;
}

/*
wrapper css
*/

.wrapper{
    display:Flex;
    justify-content: space-around;
    width: 100%;


}
.quantity{
     height:25%;
    margin-top:25px;
}
.plus{
     height:30px;
    margin-top:25px;
}

.minus {
    height:30px;
    margin-top:25px;
    }

.name{
    width:7%;
    font-size: 26px;
}

.itemImg{
    Height: 100px;
    width: 100px;
}

.quantityWrapper{
    height:97px;
}


/*


 */
 #backButton{
     width:32px;
     height:32px;
 }


