body {
    background-color: white;
}

#header{
    margin: auto;
    width: 100px;
}

#logo {
    width: 100px;
    height: 100px;
}

#main {
    margin: auto;
    width: 100%;
}

#text{
    text-align: center;
}

#continueShop {
    color: white;
    margin-left: 45%;
    position: center;
    background-color: blue;
    padding: 1%;
}

#continueShop:hover {
    cursor: pointer;
}

#continueShop:active {
    background: rgb(66, 135, 245)
}